
<h1 style="color:blue"> Infrmacion Controller -> View </h1>
<h2 style="color: fuchsia">Nombre: @ViewData["nombre"]</h2>
<h2 style="color: fuchsia">Edad: @ViewData["Edad"]</h2>
<h2 style="color: fuchsia">Dia Semana: @ViewData["DiaSemana"]</h2>