
<h1 style=" color:red">
	Vista Controller POST
</h1>

<form method="post">
	<label>Nombre</label>
	<input type="text" name="cajanombre" value="" class=" form-control" />
	<hr/>
	<label>Email</label>
	<input type="text" name="cajaemail" value="" class=" form-control" />
	<hr />
	<label>Edad</label>
	<input type="number" name="cajaedad" value=""  class=" form-control"/>
	<button class="btn btn-info">
		Enviar informacion
	</button>
</form>

<h1 style="color:forestgreen">
	@ViewData["DATA"]
</h1>