<!doctype html>
<html>
    <head>
        <title>Plantilla Principal</title>
    </head>
    <body>
        <h1>Plantilla Principal</h1>
        <hr />
        <div style="background-color:lightgreen">
            <p>Zona de vistas</p>
        </div>
    </body>
</html>
