
<form method="post">
	<label>Numero 1</label>
	<input type="number" name="num1" value="" class=" form-control" />
	<hr />
	<label>Numero 2</label>
	<input type="number" name="num2" value="" class=" form-control" />
	<br />
	<button class="btn btn-info">
		Enviar informacion
	</button>
</form>

<h1 style=" color:yellow">
	@ViewData["SUMA"] 
</h1>

